<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hackgram</title>
    <style>
        .form {
            width: 100vw;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgb(255, 255, 255);
        }

        .container {
            width: 40%;
            height: fit-content;
            padding: 50px;
            border-radius: 12px;
            background-color: #fff;
            box-shadow: 4px 4px 6px 4px hsla(0, 0%, 0%, 0.2);
        }

        .login>input,
        .login>select {
            padding: 5px;
            width: 96%;
            height: 40px;
            border-radius: 5px;
            border: solid 1px gray;
            padding-left: 15px;
            font-size:medium;
        }

        input[type=submit] {
            cursor: pointer;
            width: 120px;
            height: 40px;
            margin: 10px;
            border: none;
            border-radius: 5px;
            color: #fff;
            background-color: rgb(0, 128, 255);
        }

        .cancel {
            width: 120px;
            height: 40px;
            margin: 10px;
            background-color: rgb(243, 56, 56);
            border: none;
            border-radius: 5px;
            color: #fff;
        }

    </style>
</head>
<body>
    <div class="form">
        <div class="container">
            <form action="/profile/<%= data[data.length-1].id+1 %>/detail" method="post" class="login">
                <p style="text-align: center; font-size: 1.5em;">Sign up form</p><br>
                <label>Fullname:</label><br>
                <input type="text" name="fullname" placeholder="fullname"><br><br>
                <label>Email:</label><br>
                <input type="text" name="email" placeholder="email"><br><br>
                <label>Password:</label><br>
                <input type="password" minlength="8" name="password" placeholder="password"><br><br>
                <label for="gender">Gender:</label><br>
                <select style="height: 50px; width: 100%;" name="gender">
                    <option disabled selected>--SELECT ONE--</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select><br><br>
                <% if(errors) { %>
                    <% errors.forEach(e => { %>
                        <p><%= e %> </p>
                    <% }) %> 
                <% } %> 
                <div style="display: flex; justify-content: center;">
                    <button class="cancel"><a style="color: #fff;text-decoration: none;"href="/">Cancel</a></button>
                    <input type="submit" value="Sign up">
                </div>
            </form>
        </div>
    </div>
</body>
</html>